.todo-item-container {
	padding: 12px 16px;
	margin-bottom: 8px;
	background-color: #fff;
	border-radius: 5px;
}
.todo-text {
	display: block;
	height: 100%;
	flex-grow: 1;
	font-size: 16px;
	color: #333;
	transition: color 0.3s;
	border: none;
	outline: none;
	cursor: default;
}
.todo-checkbox:checked + .todo-text-block {
	color: #888;
	text-decoration: line-through;
}
.todo-checkbox:checked .todo-text-block {
	background-color: rgb(145, 145, 145);
}
.edit-button {
	color: white;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	transition: opacity 0.3s, transform 0.2s;
	width: 35px;
	aspect-ratio: 1;
}
